<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#18d618" media="(prefers-color-scheme: light)">
		<title>Employee</title>
		<link rel="stylesheet" href="/css/dashboard.css">
	</head>
	<body>
		<nav class="navbar">
			<a href="/" class="navbar-logo">Dylan.Live</a>
			<div class="navbar-links">
				<a href="/employee/ticket" class="navbar-link">Create Ticket</a>
				<a href="/employee/logout" class="navbar-logout">Logout</a>
			</div>
		</nav>
		<input type="hidden" id="role" value="{{{role}}}">
		<input type="hidden" value="{{{username}}}" id="username">
		<div class="container">
			<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Status</th>
					<th></th> 
				</tr>
			</thead>
			<tbody>
				{{#each result}}
				<tr>
					<td>{{ this.nice_dt }}</td>
					<td>{{ this.status }}</td>
					<td>
						<a href="/employee/ticket/{{{this.id}}}">Details</a>	
					</td>
				</tr>
				{{/each}}
			</tbody>
			</table>
		</div>
	</body>
</html>
