<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Dylan.L!ve</title>
		<link rel="stylesheet" href="/css/specialist_ticket_view.css">
	</head>

	<body>
		<p>Logged in as Specialist: {{ username }}</p>
		<a href="/specialist/logout">Logout</a>
		<a href="/specialist">Back</a>
		
		<p>IT Ticket Details</p>
		<input type="hidden" value="{{{r.status}}}" id="status_data">
		<input type="hidden" value="{{{r.id}}}" id="id">
		<p id="message"></p >
		<ul>
			<li><strong>Status:</strong>
				<select id="status" onchange="update_data(event, this)">
					<option value="OPEN">OPEN</option>
					<option value="PENDING">PENDING</option>
					<option value="IN PROGRESS">IN PROGRESS</option>
					<option value="CLOSED">CLOSED</option>
				</select>
			</li>
			<li><strong>Submission Date:</strong> {{r.nice_dt}}</li>
			<li><strong>Priority:</strong> {{r.priority}}</li>
			<li><strong>Category:</strong> {{r.category}}</li>
			<li><strong>Employee:</strong> {{r.employee}}</li>
			<li><strong>Description:</strong> {{r.description}}</li>
		</ul>
		<p>Files Gallery</p>
		<input type="hidden" id="files" value="{{{r.files}}}">
		<div class="file-list" id="fileList"></div>

		<div class="modal" id="modal">
			<div class="modal-content">
				<span class="close-btn" onclick="closeModal()">Close</span>
				<img src="" alt="Full Size Image" id="modalImage">
			</div>
		</div>

		<script src="/js/specialist_ticket_view.js"></script>	
	</body>
</html>

