<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Dylan.L!ve</title>
		<style>
		td {
			padding-right: 5px;
		}
		</style>
	</head>

	<body>
		<p>Logged in as Specialist: {{ username }}</p>
		<input type="hidden" value="{{{username}}}" id="username">
		<a href="/specialist/logout">Logout</a>

		<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Status</th>
				<th>Category</th>
				<th>Priority</th>
				<th></th> 
			</tr>
		</thead>
		<tbody>
			{{#each result}}
			<tr>
				<td>{{ this.nice_dt }}</td>
				<td>{{ this.status }}</td>
				<td>{{ this.category }}</td>
				<td>{{ this.priority }}</td>
				<td>
					<a href="/specialist/view/{{{this.id}}}">Details</a>	
				</td>
				<td>
					<a href="#" onclick="open_chat({{{this.id}}})">Chat</a>	
				</td>
			</tr>
			{{/each}}
		</tbody>
		</table>
		<script src="/js/open_chat.js"></script>
	</body>
</html>

